<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<body>
    <div class="header">
        <img src="../images/koshak.jpg" height="100" width="135"/>
    </div>
    <div class="archive">
    {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">{{ Djon
                }}</h2>
                <div class="article-author">{{ dimon018
                    }}</div>
                <div class="article-created-date">{{ 30.11.2020
                    }}</div>
            <h3 class="post-title">{{ Kaha
                }}</h3>
                <div class="article-author">{{ dimon018
                    }}</div>
                <div class="article-created-date">{{ 30.11.2020
                    }}</div>
            <h4 class="post-title">{{ Robert
                }}</h4>
                <div class="article-author">{{ dimon018
                    }}</div>
                <div class="article-created-date">{{ 30.11.2020
                    }}</div>
            <h5 class="post-title">{{ Klava Koka
                }}</h5>
                <div class="article-author">{{ dimon018
                    }}</div>
                <div class="article-created-date">{{ 30.11.2020
                    }}</div>
        </div>
    {% endfor %}
    </div>
</body>
</html>